<div class="mt-5 container">
  <div class="row">
    <!-- Form controls -->
    <div class="col-md-6">
      <div class="card mb-4">
        <h5 class="card-header">Edit Category</h5>
        <div class="card-body">
          <form action="/admin/edit-category?id={{category._id}}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label">Category</label>
              <input type="text" class="form-control" name="category" value="{{category.category}}" />
            </div>
            <div>
              <label class="form-label">Description
              </label>
              <textarea class="form-control" name="description" rows="3"
                value="{{category.description}}">{{category.description}}</textarea>
            </div>
            <div class="mb-3">
              <label class="form-label mt-4">Category Image</label>

              <input class="form-control" type="file" name="Image" id="imgFile" onchange="viewImage(event)"
                value="{{category.Image}}" />

              <img src="" id="image1" alt="" class="imggmi" style="height:100px">
            </div>
            <div style="display:flex">
              <div id="screen1" class="imggmi image-container" style="height: auto; width: auto"></div> <br>
            </div>
            <button type="button" class=" btn btn-outline-info " id="crop-1">Crop</button>
            <div class="mt-5 div"><button onclick="return confirm('Are you sure to Changes in {{category.category}} ?')"
                type="submit" class="btn btn-outline-success">Submit</button></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  const imagebox1 = document.getElementById('screen1')
  const crop_btn1 = document.getElementById('crop-1')
  const input1 = document.getElementById('imgFile')
  function viewImage1(event) {
    var fileInput1 = document.getElementById('imgFile');
    var filePath1 = fileInput1.value;
    var allowedExtensions = /(\.jpg)$/i;
    if (!allowedExtensions.exec(filePath1)) {
      fileInput1.value = '';
      swal("There is a problem!", "Please choose image file.");
      return false;
    } else {
      document.getElementById('image1').src = URL.createObjectURL(event.target.files[0])
    }
  }

  input1.addEventListener('change', () => {
    const img_data1 = input1.files[0]
    const url1 = URL.createObjectURL(img_data1)
    imagebox1.innerHTML = `<img src="${url1}" id="img1" style="width:100%;">`
    const img1 = document.getElementById('img1')
    document.getElementById('screen1').style.display = 'block'

    document.getElementById('crop-1').style.display = 'block'
    document.getElementById('image1').style.display = 'block'

    const cropper1 = new Cropper(img1, {
      autoCropArea: 1,
      viewMode: 1,
      scalable: false,
      zoomable: false,
      movable: false,
      minCropBoxWidth: 50,
      minCropBoxHeight: 50,
      aspectRatio: 1 / 1,
    })

    crop_btn1.addEventListener('click', () => {

      cropper1.getCroppedCanvas().toBlob((blob) => {
        let fileInputElement1 = document.getElementById('imgFile');
        let file1 = new File([blob], img_data1.name, { type: "image/*", lastModified: new Date().getTime() });
        let container1 = new DataTransfer();
        container1.items.add(file1);
        fileInputElement1.files = container1.files;
        document.getElementById('image1').src = URL.createObjectURL(fileInputElement1.files[0])
        document.getElementById('screen1').style.display = 'none'
        document.getElementById('crop-1').style.display = 'none'
      })
    })

  })
</script>