<div class="mt-5 container">
    <div class="row">
        <!-- Form controls -->
        <div class="col-md-6">
            <div class="card mb-4">
                <h5 class="card-header">Edit product</h5>
                <div class="card-body">
                    <form action="/admin/edit-product?id={{product._id}}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">

                            <label class="form-label">Product
                                ID</label>
                            <input type="text" class="form-control" name="productID" value="{{product.productID}}" />
                        </div>
                        <div class="mb-3">

                            <label class="form-label">Stock Quantity</label>
                            <input type="text" class="form-control" name="stock" value="{{product.stock}}" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Product
                                Name</label>
                            <input type="text" class="form-control" name="productName"
                                value="{{product.productName}}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select Category </label>
                            <select class="form-select" name="category" aria-label="Default select example">
                                <option selected>{{product.category}}</option>
                                {{#each category}}
                                <option value={{this.category}}>{{this.category}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Market Price</label>
                                <input type="text" class="form-control" name="marketPrice"
                                    value="{{product.marketPrice}}" />
                            </div>
                            <div class="col">
                                <label class="form-label">Our Price</label>
                                <input type="text" class="form-control" name="OurPrice" value="{{product.OurPrice}}" />
                            </div>
                        </div>
                        <div class="mb-3 mt-4">
                            <label class="form-label">Product Image</label>
                            {{!-- <img src="/product-images/{{product._id}}.jpg" style="width: 200px;height: auto"
                                id="imgView"> --}}
                            <input class="form-control" type="file" name="Image"
                                value="/product-images/{{product._id}}.jpg" onchange="viewImage(event)" multiple />
                        </div>



                        <div class="mt-5 div">
                            <button onclick="return confirm('Are you sure to Changes in {{product.productName}} ?')"
                                type="submit" class="btn btn-outline-success">Submit</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <!-- Hoverable Table rows -->
            <div class="card mb-4">
                <span>
                    <h4 class="card-header text-center">Product Image</h4>
                </span>

                <div class="table-responsive text-center m-5">
                    <img src="/product-images/{{product._id}}.jpg" style="width: 400px;height: auto" id="imgView">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>