<div class="container">
  <!-- Hoverable Table rows -->
  <div class="mt-5 card">
    <span>
      <h4 class="card-header m-3">Order Management</h4>
    </span>

    {{#if err}}
    <div class="alert alert-danger" role="alert">{{err}}</div>

    {{/if}}
    <div class="table-responsive text-nowrap">
      <table id="tbl_exporttable_to_xls" class="table table-hover ">
        <thead>
          <tr>
            <th>No</th>
            <th>InvoiceNo</th>
            <th>Mobile</th>
            <th>Date</th>
            <th>totalAmount</th>
            <th>Order status</th>
            <th>PaymentMethod</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {{#each orders}}
          <tr>
            <td class="ajindex"></td>
            <td>{{this.invoiceNo}}</td>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
              <strong>{{this.deliveryDetails.mobile}}</strong>
            </td>
            <td>{{this.date}}</td>
            <td>{{this.product.Price}}</td>

            <td>
              <div class="mb-3">
                <select
                  onchange="changestatus('{{this._id}}','{{this.product.Price}}','{{this.userId}}','{{this.product.item}}')"
                  class="badge bg-label-primary me-1" name="status" id="{{this._id}}">
                  {{!-- <option selected>Open this select menu</option> --}}
                  <option selected value={{this.product.status}}> {{this.product.status}}</option>
                  {{#if this.product.ended}}
                  {{else}}
                  {{#unless this.product.completed}}
                  {{#if this.product.placed}}
                  <option value="shipped">shipped</option>
                  {{/if}}
                  {{/unless}}
                  {{#if this.product.shipped}}
                  <option value="completed">completed</option>
                  {{/if}}
                  {{#unless this.product.completed}}
                  <option value="canceled">canceled</option>
                  {{/unless}}

                  {{/if}}
                  {{#if this.product.return}}
                  <option value="return-completed">return-completed</option>
                  {{/if}}
                </select>
              </div>
            </td>
            <td>{{this.paymentMethod}}</td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>
  <!--/ Hoverable Table rows -->
</div>
<script type="text/javascript">
  window.setTimeout("document.getElementById('successMessage').style.display='none';", 3000);
  function changestatus(orderid, amount, userId, prodId) {
    let st = document.getElementById(orderid);
    let stat = st.options[st.selectedIndex].text
    console.log(orderid, amount, userId, "testttttttttttttttttt", prodId)
    $.ajax({
      url: "/admin/update-status",
      data: {
        cartid: orderid,
        status: stat,
        refund: amount,
        user: userId,
        productId: prodId
      },
      method: "post",
      success: (response) => {
        alert(response)
        location.reload()
      }
    })
  }

</script>