<div class="container">
    <!-- Hoverable Table rows -->
    <div class="mt-5 card">
        <span>
            <h4 class="card-header m-3">Sales Report</h4>
        </span>
        <hr>
        {{#if err}}
        <div class="alert alert-danger" role="alert">{{err}}</div>

        {{/if}}
        <!-- Small Modal -->
        <div class="demo-inline-spacing px-5">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#smallModal">
                Filter By Date
            </button>
            <div class="row">

            </div>
            <div class="modal fade" id="smallModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <form method="post" action="/admin/reports">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row g-2">
                                    <div class="col mb-0">
                                        <label class="form-label" for="emailSmall">From</label>
                                        <input type="date" class="form-control" name="from" placeholder="xxxx@xxx.xx" />
                                    </div>
                                    <div class="col mb-0">
                                        <label for="dobSmall" class="form-label">To</label>
                                        <input name="to" type="date" class="form-control" placeholder="DD / MM / YY" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{!-- model ends --}}
            <div class="row my-4">

                <div class="col d-flex">
                    <a onclick='return demoFromHTML()' class="button btn btn-outline-success me-3 ms-auto">Export as
                        Pdf</a>
                    <button class="btn btn-outline-danger me-3" onclick="ExportToExcel('xlsx')">Export table to
                        excel</button>
                </div>
            </div>

            <div class="table-responsive text-nowrap" id="customerff">
                <table id="tbl_exporttable_to_xls" class="table table-hover display nowrap">
                    <span><b>From : {{date.from}} {{#unless date}}Beggning {{/unless}}</b>&nbsp;</span>
                    <span><b>To : {{date.to}} {{#unless date}}End {{/unless}}</b></span>
                    <thead>
                        <tr>
                            <th class="no_export">No</th>
                            <th>Name Of The Product</th>
                            <th>Quantity Sold</th>
                            <th>Revenue</th>

                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0 px-5">
                        {{#each rep.data}}
                        <tr>
                            <td class="ajindex"></td>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                <strong>{{this._id}}</strong>
                            </td>
                            <td>{{this.totalquantity}}</td>

                            <td>{{this.total}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <div class="row">

                        <div class="col-4">

                            <h4 class="card-header fab fa-angular fa-lg text-primary my-3">Total Revenue : {{rep.total}}
                            </h4>
                        </div>
                        <div class="col-4">
                            <h5 class="card-header fab fa-angular fa-lg text-primary my-3">Total Quantity Sold :
                                {{rep.quantity}}</h5>
                        </div>
                    </div>
                </table>


            </div>


        </div>

    </div>