<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    {{#if products}}
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}

                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="/product-images/{{this.product.Image.[1]}}" alt="" style="width: 100px;">
                                    <h5>{{this.product.productName}}</h5>
                                </td>
                                <td class="shoping__cart__price">

                                    <span id="{{this.product._id}}price"> {{this.product.OurPrice}}</span>

                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="cart-item-count">
                                            <button class="cart-item-count m-2"
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                                            <button class="cart-item-count m-2"
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    ₹<span id="{{this.product._id}}eachtotal">{{this.total}}</span>
                                </td>
                                <td class="shoping__cart__item__close">

                                    <a class="dropdown-item"
                                        href="javascript:removeCartProduct('{{this.product._id}}','{{this._id}}')"><i
                                            class="icon_close"></i>
                                        Delete</a>
                                </td>
                            </tr>
                            <!-- Modal -->
                            {{/each}}

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a class="primary-btn cart-btn cart-btn-right text-danger">
                        You saved Rs{{discount}}</a>
                </div>
            </div>
            <div class="col-lg-6">
               

            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul id="cartTotal">
                        <li>You saved <span>₹</span><span id="discount">{{discount}}</span></li>
                        <li>Grand Total <span>₹</span><span id="total">{{total}}</span></li>
                    </ul>
                    <a href="/proceed-page" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
            {{else}}
            <section class="breadcrumb-section set-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="breadcrumb__text">
                                <img src="img/117-1170538_404-your-cart-is-empty.png" alt="">
                                {{!-- <h2>Shopping Cart</h2>
                                <div class="breadcrumb__option">
                                    <a href="/">Home</a>
                                    <span>Shopping Cart</span> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div text-center">
                    <a href="/" class="text-center btn btn-success">Back to Home</a>
                </div>

            </section>

            {{/if}}
        </div>
    </div>
</section>
<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        let ourprice = parseInt(document.getElementById(proId + 'price').innerHTML)
        count = parseInt(count)
        if (quantity + count == 0) {
            Swal.fire({
                title: 'Do you want Delete This product From Cart?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'Delete',
                denyButtonText: `Don't Delete`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/change-product-quantity',
                        data: {
                            user: userId,
                            cart: cartId,
                            product: proId,
                            count: count,
                            quantity: quantity
                        },
                        method: 'post',
                        success: (response) => {
                            if (response.removeProduct) {
                                location.reload()
                            } else {
                                document.getElementById(proId).innerHTML = quantity + count
                                document.getElementById('total').innerHTML = response.total
                                document.getElementById('discount').innerHTML = response.discount
                                document.getElementById(proId + 'eachtotal').innerHTML = (quantity + count) * ourprice
                            }

                        }
                    })
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })
        } else {
            $.ajax({
                url: '/change-product-quantity',
                data: {
                    user: userId,
                    cart: cartId,
                    product: proId,
                    count: count,
                    quantity: quantity
                },
                method: 'post',
                success: (response) => {
                    if (response.removeProduct) {
                        alert("product removed from the cart")
                        location.reload()
                    } else {
                        document.getElementById(proId).innerHTML = quantity + count
                        document.getElementById('total').innerHTML = response.total
                        document.getElementById('discount').innerHTML = response.discount
                        document.getElementById(proId + 'eachtotal').innerHTML = (quantity + count) * ourprice
                    }

                }
            })
        }
    }
    $.ajax({
        url: '/change-product-quantity',
        data: {
            user: userId,
            cart: cartId,
            product: proId,
            count: count,
            quantity: quantity
        },
        method: 'post',
        success: (response) => {
            if (response.removeProduct) {
                location.reload()
            } else {
                document.getElementById(proId).innerHTML = quantity + count
                document.getElementById('total').innerHTML = response.total
                document.getElementById('discount').innerHTML = response.discount
                document.getElementById(proId + 'eachtotal').innerHTML = (quantity + count) * ourprice
            }

        }
    })


    function removeCartProduct(proId, cartId) {
        console.log(proId, cartId)
        Swal.fire({
            title: 'Do you want Delete This product From Cart?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: 'Delete',
            denyButtonText: `Cancel`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                $.ajax({
                    url: '/remove-product-cart',
                    data: {
                        proId: proId,
                        cartId: cartId
                    },
                    method: 'post',
                    success: (response) => {
                        if (response) {

                            location.reload()

                        }
                    }
                })
            } else if (result.isDenied) {
                Swal.fire('Changes are not saved', '', 'info')
            }
        })

    }

    function myFunction(coupon) {
        var copyText = document.getElementById(coupon).innerHTML
        console.log(copyText, "------------", coupon)

        navigator.clipboard.writeText(copyText);
        Swal.fire({
            position: 'top-end',
            title: '<h5>Coupon Copied To Clipboard</h5>',
            showConfirmButton: false,
            timer: 1000
        })

    }

</script>
<style>
    
</style>