<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Humberger Begin -->
{{#if add}}
<div classs="container p-5">
  <div class="row no-gutters">
    <div class="col-lg-5 col-md-12 ml-auto">
      <div class="alert alert-success fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="True">&times;</span>
        </button>
        <h4 class="alert-heading">Well done!</h4>
        <p>This is an alert within a column. The column can be made any size at different viewpoints.</p>
      </div>
    </div>
  </div>
</div>
{{/if}}
<!-- Categories Section Begin -->
<section class="categories">
  <div class="container">
    <div class="row">
      <div class="categories__slider owl-carousel">
        {{#each category}}
        <div class="col-lg-3">
          <div class="categories__item set-bg" data-setbg="/category-images/{{this.Image}}">
            <h5><a href="/get-category-products?id={{this.category}}">{{this.category}}</a></h5>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Latest Products</h2>
        </div>
        <div class="featured__controls">
          <ul>
            <li class="active" data-filter="*">All</li>
            {{#each category}}
            <li data-filter=".{{this.category}}">{{this.category}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="row featured__filter">
      {{#each product}}


      <div class="col-lg-3 col-md-4 col-sm-6 mix {{this.category}} my-4">
        <div class="product__discount__item">

          <div class="product__discount__item__pic set-bg" data-setbg="/product-images/{{this.Image.[1]}}"
            style='background-image: url("/product-images/{{this.Image.[1]}}");'>

            <div class="product__discount__percent">{{this.percentage}}%<a>Off</a>
            </div>
            <ul class="product__item__pic__hover" style="cursor:pointer">
              <li><a onclick="return addToWishlist('{{this._id}}')"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a onclick="return addToCart('{{this._id}}')"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>

          <div class="product__discount__item__text">
            <span>{{this.category}}</span>
            <h5><a href="/product-details?id={{this._id}}">{{this.productName}}</a></h5>
            <div class="product__item__price">₹{{this.OurPrice}}.00
              <span>₹{{this.marketPrice}}.00</span>
            </div>
          </div>
        </div>
      </div>


      {{/each}}



    </div>
  </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner mb-5">
  <div class="container">
    <div class="row">
      {{#each banner.Image}}
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="/banner-images/{{this}}" alt="" />
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<!-- Banner End -->
