<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<div class="container bootdey mt-5">
    <div class="panel panel-default panel-order">
        <div class="panel-heading mb-4">
            <strong>Order history</strong>

        </div>

        <div class="panel-body">
            {{#each orders}}
            <div class="row">
                <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg"
                        class="media-object img-thumbnail" /></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><label id="{{this._id}}" class="text-dark w-25"><B>
<a data-placement="top" class="btn btn-success btn-sm glyphicon glyphicon-ok m-2 "
                                href="/view-detail?id={{this._id}}">View</a>
                            </B></label>

                            </div>

                            <span><strong>{{this.invoiceNo}}</strong></span> <span class="label label-info">(
                                {{this.paymentMethod}} )</span><br />
                            Total Amount: ₹{{this.totalAmount}} <br />
                            



                        </div>
                        <div class="col-md-12">order made on: {{this.date}}<br> Delivered to

                            {{this.deliveryDetails.address}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="panel-footer m-5">Thank you for shopping with us.....Keep Shopping</div>
    </div>
</div>


<style type="text/css">
    body {
        background: #eee;
    }

    .panel-order .row {
        border-bottom: 1px solid #ccc;
    }

    .panel-order .row:last-child {
        border: 0px;
    }

    .panel-order .row .col-md-1 {
        text-align: center;
        padding-top: 15px;
    }

    .panel-order .row .col-md-1 img {
        width: 50px;
        max-height: 50px;
    }

    .panel-order .row .row {
        border-bottom: 0;
    }

    .panel-order .row .col-md-11 {
        border-left: 1px solid #ccc;
    }

    .panel-order .row .row .col-md-12 {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .panel-order .row .row .col-md-12:last-child {
        font-size: 11px;
        color: #555;
        background: #efefef;
    }

    .panel-order .btn-group {
        margin: 0px;
        padding: 0px;
    }

    .panel-order .panel-body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .panel-order .panel-deading {
        margin-bottom: 0;
    }
</style>